html {
  height: 100%;
  background: black url(images/bg.gif) center no-repeat;
  background-size: cover;
}
body {
height: 100%;
color: white;
font-size: 9px;
font-family: "Courier New", Courier, Monaco;
}
* {
  box-sizing: border-box;
  /*border: 1px solid white*/
}
ul li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul.social-links > li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.container {
  position: absolute;
  max-width: 300px;
  margin: 0 auto;
  animation-name: appearance;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  margin-bottom: 10px;
}
.header {
  margin-bottom: 100px;
}
.navigation li {
  margin-bottom: 20px;
  }
.navigation a:hover {
  background: red;
}
.footer {
  margin-top: 30px;
}
.social-links img {
  max-width: 100%;
}
.header, .body, .footer {
  /*border: 1px solid white;*/
}
.logo img {
  max-width: 50%;
  max-height: 50%;
}
.social-links a {
  opacity: 0.2
}
.social-links a:hover {
opacity: 1;
}

/*MEDIA QUERIES*/
@media all and (min-width:320px) and (max-width: 374px) {
.header {
  margin-bottom: 40px;
  }
.navigation li {
  margin-bottom: 20px;
}
body {
  margin-bottom: 40px;
}
}
}
